/* Estrutura da lista */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Cada item da lista */
li {
    background-color: #f8f9fa;
    padding: 12px;
    border: 1px solid #e9ecef;
    border-radius: 6px;
    margin-bottom: 8px;
    color: #161616;
    font-size: 15px;
}
/* Barra de Pesquisa*/
.pesquisa{
     width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s
}
